<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>AntSword</title>
    <link rel="stylesheet" href="../static/libs/bmenu/bmenu.css" />
    <link rel="stylesheet" href="../static/libs/toastr/toastr.css" />
    <link rel="stylesheet" href="../static/libs/layer/src/skin/layer.css" />
    <link rel="stylesheet" href="../static/libs/layer/src/skin/layer.ext.css" />
    <link rel="stylesheet" href="../static/libs/laydate/need/laydate.css" />
    <link rel="stylesheet" href="../static/libs/laydate/skins/default/laydate.css" />
    <link rel="stylesheet" href="../static/libs/terminal/css/jquery.terminal.css" />
    <link rel="stylesheet" href="../static/libs/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="../static/libs/dhtmlx/codebase/dhtmlx.css" />
    <link rel="stylesheet" href="../static/libs/dhtmlx/skins/mytheme/dhtmlx.css" />
    <link rel="stylesheet" href="../static/css/index.css" />
    <script>
    window.$ = window.jQuery = require('../static/libs/jquery/dist/jquery.min.js');
    </script>
    <script src="../static/libs/ace/ace.js"></script>
    <script src="../static/libs/ace/ext-language_tools.js"></script>
    <script src="../static/libs/bmenu/bmenu.js"/></script>
    <script src="../static/libs/toastr/toastr.js"></script>
    <script src="../static/libs/layer/src/layer.js"></script>
    <script src="../static/libs/laydate/laydate.js"></script>
    <script src="../static/libs/terminal/js/jquery.terminal-src.js"></script>
  </head>
  <body>
    <div id="loading"></div>
    <div id="container"></div>
  </body>
  <script src="../static/build/load.bundle.js"></script>
</html>